* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

.col20 {
    height: 50px;
    border: 1px solid rgb(255, 89, 0);
    width: 20%;
}

.col60 {
    height: 50px;
    border: 1px solid rgb(255, 89, 0);
    width: 60%;
}

.arancio {
    background-color: rgb(255, 89, 0);
}



.center {
    text-align: center;
    line-height: 50px;
}



ul {
    margin-left: 120px;
    list-style: none;
    color: white;

}

li {
    display: inline-block;
}

.logo {
    background-position: center;
    width: 125px;
    height: auto;
    margin-top: 12px;
    margin-left: 350px;
}

.icons {
    font-size: 15px;
    color: white;
    margin-top: -40px;
    margin-left: 1200px;
    padding: 10px;
}